<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mifan.quiz.domain.Answers">

    <!-- result map -->
    <resultMap id="answers" type="com.mifan.quiz.domain.Answers">
        <id property="id" column="id" javaType="long"/>
        <result property="sessionId" column="session_id" javaType="long"/>
        <result property="questionId" column="question_id" javaType="long"/>
        <result property="answers" column="answers" javaType="string"/>
        <result property="isRight" column="is_right" javaType="int"/>
        <result property="modified" column="modified" javaType="date"/>
        <result property="created" column="created" javaType="date"/>
    </resultMap>

    <!-- sql -->
    <sql id="columns">
        <choose>
            <when test="fields != null and fields.size != 0">
                <foreach collection="fields" separator="," item="item" index="index">
                    ${item.fullname}
                </foreach>
            </when>
            <otherwise>
                id, session_id, question_id, answers, is_right, modified, created 
            </otherwise>
        </choose>
    </sql>

    <sql id="insertColumns">
        <trim suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="sessionId != null">
                session_id,
            </if>
            <if test="questionId != null">
                question_id,
            </if>
            <if test="answers != null">
                answers,
            </if>
            <if test="isRight != null">
                is_right,
            </if>
            <if test="modified != null">
                modified,
            </if>
            <if test="created != null">
                created,
            </if>
        </trim>
    </sql>

    <sql id="insertEntityColumns">
        <trim suffixOverrides=",">
            <if test="insert.id != null">
                id,
            </if>
            <if test="insert.sessionId != null">
                session_id,
            </if>
            <if test="insert.questionId != null">
                question_id,
            </if>
            <if test="insert.answers != null">
                answers,
            </if>
            <if test="insert.isRight != null">
                is_right,
            </if>
            <if test="insert.modified != null">
                modified,
            </if>
            <if test="insert.created != null">
                created,
            </if>
        </trim>
    </sql>

    <sql id="insertValues">
        <trim suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="sessionId != null">
                #{sessionId},
            </if>
            <if test="questionId != null">
                #{questionId},
            </if>
            <if test="answers != null">
                #{answers},
            </if>
            <if test="isRight != null">
                #{isRight},
            </if>
            <if test="modified != null">
                #{modified},
            </if>
            <if test="created != null">
                #{created},
            </if>
        </trim>
    </sql>

    <sql id="insertEntityValues">
        <trim suffixOverrides=",">
            <if test="insert.id != null">
                #{insert.id},
            </if>
            <if test="insert.sessionId != null">
                #{insert.sessionId},
            </if>
            <if test="insert.questionId != null">
                #{insert.questionId},
            </if>
            <if test="insert.answers != null">
                #{insert.answers},
            </if>
            <if test="insert.isRight != null">
                #{insert.isRight},
            </if>
            <if test="insert.modified != null">
                #{insert.modified},
            </if>
            <if test="insert.created != null">
                #{insert.created},
            </if>
        </trim>
    </sql>

    <sql id="updateValues">
        <trim suffixOverrides=",">
            <if test="sessionId != null">
                session_id = #{sessionId},
            </if>
            <if test="questionId != null">
                question_id = #{questionId},
            </if>
            <if test="answers != null">
                answers = #{answers},
            </if>
            <if test="isRight != null">
                is_right = #{isRight},
            </if>
            <if test="modified != null">
                modified = #{modified},
            </if>
            <if test="created != null">
                created = #{created},
            </if>
        </trim>
    </sql>

    <sql id="updateValuesByCriterion">
        <trim suffixOverrides=",">
            <if test="entity.sessionId != null">
                session_id = #{entity.sessionId},
            </if>
            <if test="entity.questionId != null">
                question_id = #{entity.questionId},
            </if>
            <if test="entity.answers != null">
                answers = #{entity.answers},
            </if>
            <if test="entity.isRight != null">
                is_right = #{entity.isRight},
            </if>
            <if test="entity.modified != null">
                modified = #{entity.modified},
            </if>
            <if test="entity.created != null">
                created = #{entity.created},
            </if>
        </trim>
    </sql>

    <sql id="simpleConditions">
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="entity.id != null">
                AND id = #{entity.id}
            </if>
            <if test="entity.sessionId != null">
                AND session_id = #{entity.sessionId}
            </if>
            <if test="entity.questionId != null">
                AND question_id = #{entity.questionId}
            </if>
            <if test="entity.answers != null">
                AND answers = #{entity.answers}
            </if>
            <if test="entity.isRight != null">
                AND is_right = #{entity.isRight}
            </if>
            <if test="entity.modified != null">
                AND modified = #{entity.modified}
            </if>
            <if test="entity.created != null">
                AND created = #{entity.created}
            </if>
        </trim>
    </sql>

    <sql id="sort">
        <trim prefix="ORDER BY" suffixOverrides=",">
            <foreach collection="orders" separator="," item="item" index="index">
                ${item.property} ${item.direction}
            </foreach>
        </trim>
    </sql>

    <sql id="criterion">
        <foreach collection="conditions.tokens" item="item">
            <choose>
                <when test="item.param">#{item.value}</when><otherwise>${item.value}</otherwise>
            </choose>
        </foreach>
    </sql>

    <sql id="limit">
        LIMIT #{offset}, #{pageSize}
    </sql>

    <sql id="relationships">
        <if test="relationships != null">
            <foreach collection="relationships" item="join" index="index">
                ${join.type()} ${join.table()} ON ${join.condition()}
            </foreach>
        </if>
    </sql>

    <!-- insert -->
    <insert id="save" parameterType="com.mifan.quiz.domain.Answers" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO answers(<include refid="insertColumns"/>) VALUES (<include refid="insertValues"/>)
    </insert>

    <!-- insert into on duplicate -->
    <insert id="insertOnDuplicate" parameterType="com.mifan.quiz.domain.Answers" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO answers(<include refid="insertEntityColumns"/>) VALUES (<include refid="insertEntityValues"/>) ON DUPLICATE KEY UPDATE <include refid="updateValuesByCriterion"/>
    </insert>

    <!-- insert into on duplicate -->
    <insert id="saveOrUpdate" parameterType="com.mifan.quiz.domain.Answers" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO answers(<include refid="insertColumns"/>) VALUES (<include refid="insertValues"/>) ON DUPLICATE KEY UPDATE <include refid="updateValues"/>
    </insert>

    <!-- delete -->
    <delete id="delete" parameterType="long">
        DELETE FROM answers WHERE id = #{id}
    </delete>

    <!-- update -->
    <update id="update" parameterType="com.mifan.quiz.domain.Answers">
        UPDATE answers SET <include refid="updateValues"/> WHERE id = #{id}
    </update>

    <update id="updateByCriterion" parameterType="com.mifan.quiz.domain.Answers">
        UPDATE answers SET <include refid="updateValuesByCriterion"/> WHERE id = #{entity.id} AND <include refid="criterion"></include>
    </update>

    <update id="updateByMap" parameterType="map">
        UPDATE answers
        <trim prefix="SET" suffixOverrides=",">
            <foreach collection="increments" index="index" item="item">
                ${item.key} = ${item.key} + #{item.value},
            </foreach>
            <foreach collection="fields" index="index" item="item">
                ${item.key} = #{item.value},
            </foreach>
        </trim>
        WHERE id = #{id}
    </update>

    <!-- select -->
    <select id="findOne" parameterType="map" resultMap="answers">
        SELECT
        <include refid="columns"></include>
        FROM answers WHERE id = #{id}
    </select>

    <select id="findOneByObject" parameterType="map" resultMap="answers">
        SELECT
        <include refid="columns"></include>
        FROM answers <include refid="simpleConditions"></include>
    </select>

    <select id="findOneByCriterion" parameterType="map" resultMap="answers">
        SELECT
        <include refid="columns"></include>
        FROM answers WHERE <include refid="criterion"></include> LIMIT 1
    </select>

    <select id="findAll" parameterType="map" resultMap="answers">
        SELECT
        <include refid="columns"></include>
        FROM answers WHERE ${field} IN
        <foreach collection="ids" open="(" separator="," close=")" index="index" item="item" >
            ${item}
        </foreach>
    </select>

    <select id="findAllByObject" parameterType="map" resultMap="answers">
        SELECT
        <include refid="columns"></include>
        FROM answers <include refid="simpleConditions"></include>
    </select>

    <select id="findAllByCriterion" parameterType="map" resultMap="answers">
        SELECT
        <include refid="columns"></include>
        FROM answers WHERE <include refid="criterion"></include>
    </select>

    <select id="findPage" parameterType="map" resultMap="answers">
        SELECT
        <include refid="columns"></include>
        FROM answers <include refid="simpleConditions"></include> <include refid="sort"></include> <include refid="limit"></include>
    </select>

    <select id="findPageByCriterion" parameterType="map" resultMap="answers">
        SELECT
        <include refid="columns"></include>
        FROM answers
        <include refid="relationships"></include>
        WHERE <include refid="criterion"></include> <include refid="sort"></include> <include refid="limit"></include>
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(*) FROM answers
    </select>

    <select id="countByCondition" parameterType="map" resultType="long">
        SELECT COUNT(*) FROM answers <include refid="simpleConditions"></include>
    </select>

    <select id="countByCriterion" parameterType="map" resultType="long">
        SELECT COUNT(*) FROM answers
        <include refid="relationships"></include>
        WHERE <include refid="criterion"></include>
    </select>

    <select id="exists" parameterType="long" resultType="long">
        SELECT COUNT(*) FROM answers WHERE id = #{id}
    </select>

</mapper>