<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mifan.quiz.domain.Quizs">

    <!-- result map -->
    <resultMap id="quizs" type="com.mifan.quiz.domain.Quizs">
        <id property="id" column="id" javaType="long"/>
        <result property="title" column="title" javaType="string"/>
        <result property="description" column="description" javaType="string"/>
        <result property="backImg" column="back_img" javaType="string"/>
        <result property="state" column="state" javaType="int"/>
        <result property="questionNum" column="question_num" javaType="int"/>
        <result property="enabled" column="enabled" javaType="int"/>
        <result property="modifier" column="modifier" javaType="long"/>
        <result property="creator" column="creator" javaType="long"/>
        <result property="modified" column="modified" javaType="date"/>
        <result property="created" column="created" javaType="date"/>
    </resultMap>

    <!-- sql -->
    <sql id="columns">
        <choose>
            <when test="fields != null and fields.size != 0">
                <foreach collection="fields" separator="," item="item" index="index">
                    ${item.fullname}
                </foreach>
            </when>
            <otherwise>
                id, title, description, back_img, state, question_num, enabled, modifier, creator, modified, created 
            </otherwise>
        </choose>
    </sql>

    <sql id="insertColumns">
        <trim suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="backImg != null">
                back_img,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="questionNum != null">
                question_num,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="modified != null">
                modified,
            </if>
            <if test="created != null">
                created,
            </if>
        </trim>
    </sql>

    <sql id="insertEntityColumns">
        <trim suffixOverrides=",">
            <if test="insert.id != null">
                id,
            </if>
            <if test="insert.title != null">
                title,
            </if>
            <if test="insert.description != null">
                description,
            </if>
            <if test="insert.backImg != null">
                back_img,
            </if>
            <if test="insert.state != null">
                state,
            </if>
            <if test="insert.questionNum != null">
                question_num,
            </if>
            <if test="insert.enabled != null">
                enabled,
            </if>
            <if test="insert.modifier != null">
                modifier,
            </if>
            <if test="insert.creator != null">
                creator,
            </if>
            <if test="insert.modified != null">
                modified,
            </if>
            <if test="insert.created != null">
                created,
            </if>
        </trim>
    </sql>

    <sql id="insertValues">
        <trim suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="title != null">
                #{title},
            </if>
            <if test="description != null">
                #{description},
            </if>
            <if test="backImg != null">
                #{backImg},
            </if>
            <if test="state != null">
                #{state},
            </if>
            <if test="questionNum != null">
                #{questionNum},
            </if>
            <if test="enabled != null">
                #{enabled},
            </if>
            <if test="modifier != null">
                #{modifier},
            </if>
            <if test="creator != null">
                #{creator},
            </if>
            <if test="modified != null">
                #{modified},
            </if>
            <if test="created != null">
                #{created},
            </if>
        </trim>
    </sql>

    <sql id="insertEntityValues">
        <trim suffixOverrides=",">
            <if test="insert.id != null">
                #{insert.id},
            </if>
            <if test="insert.title != null">
                #{insert.title},
            </if>
            <if test="insert.description != null">
                #{insert.description},
            </if>
            <if test="insert.backImg != null">
                #{insert.backImg},
            </if>
            <if test="insert.state != null">
                #{insert.state},
            </if>
            <if test="insert.questionNum != null">
                #{insert.questionNum},
            </if>
            <if test="insert.enabled != null">
                #{insert.enabled},
            </if>
            <if test="insert.modifier != null">
                #{insert.modifier},
            </if>
            <if test="insert.creator != null">
                #{insert.creator},
            </if>
            <if test="insert.modified != null">
                #{insert.modified},
            </if>
            <if test="insert.created != null">
                #{insert.created},
            </if>
        </trim>
    </sql>

    <sql id="updateValues">
        <trim suffixOverrides=",">
            <if test="title != null">
                title = #{title},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="backImg != null">
                back_img = #{backImg},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="questionNum != null">
                question_num = #{questionNum},
            </if>
            <if test="enabled != null">
                enabled = #{enabled},
            </if>
            <if test="modifier != null">
                modifier = #{modifier},
            </if>
            <if test="creator != null">
                creator = #{creator},
            </if>
            <if test="modified != null">
                modified = #{modified},
            </if>
            <if test="created != null">
                created = #{created},
            </if>
        </trim>
    </sql>

    <sql id="updateValuesByCriterion">
        <trim suffixOverrides=",">
            <if test="entity.title != null">
                title = #{entity.title},
            </if>
            <if test="entity.description != null">
                description = #{entity.description},
            </if>
            <if test="entity.backImg != null">
                back_img = #{entity.backImg},
            </if>
            <if test="entity.state != null">
                state = #{entity.state},
            </if>
            <if test="entity.questionNum != null">
                question_num = #{entity.questionNum},
            </if>
            <if test="entity.enabled != null">
                enabled = #{entity.enabled},
            </if>
            <if test="entity.modifier != null">
                modifier = #{entity.modifier},
            </if>
            <if test="entity.creator != null">
                creator = #{entity.creator},
            </if>
            <if test="entity.modified != null">
                modified = #{entity.modified},
            </if>
            <if test="entity.created != null">
                created = #{entity.created},
            </if>
        </trim>
    </sql>

    <sql id="simpleConditions">
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="entity.id != null">
                AND id = #{entity.id}
            </if>
            <if test="entity.title != null">
                AND title = #{entity.title}
            </if>
            <if test="entity.description != null">
                AND description = #{entity.description}
            </if>
            <if test="entity.backImg != null">
                AND back_img = #{entity.backImg}
            </if>
            <if test="entity.state != null">
                AND state = #{entity.state}
            </if>
            <if test="entity.questionNum != null">
                AND question_num = #{entity.questionNum}
            </if>
            <if test="entity.enabled != null">
                AND enabled = #{entity.enabled}
            </if>
            <if test="entity.modifier != null">
                AND modifier = #{entity.modifier}
            </if>
            <if test="entity.creator != null">
                AND creator = #{entity.creator}
            </if>
            <if test="entity.modified != null">
                AND modified = #{entity.modified}
            </if>
            <if test="entity.created != null">
                AND created = #{entity.created}
            </if>
        </trim>
    </sql>

    <sql id="sort">
        <trim prefix="ORDER BY" suffixOverrides=",">
            <foreach collection="orders" separator="," item="item" index="index">
                ${item.property} ${item.direction}
            </foreach>
        </trim>
    </sql>

    <sql id="criterion">
        <foreach collection="conditions.tokens" item="item">
            <choose>
                <when test="item.param">#{item.value}</when><otherwise>${item.value}</otherwise>
            </choose>
        </foreach>
    </sql>

    <sql id="limit">
        LIMIT #{offset}, #{pageSize}
    </sql>

    <sql id="relationships">
        <if test="relationships != null">
            <foreach collection="relationships" item="join" index="index">
                ${join.type()} ${join.table()} ON ${join.condition()}
            </foreach>
        </if>
    </sql>

    <!-- insert -->
    <insert id="save" parameterType="com.mifan.quiz.domain.Quizs" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO quizs(<include refid="insertColumns"/>) VALUES (<include refid="insertValues"/>)
    </insert>

    <!-- insert into on duplicate -->
    <insert id="insertOnDuplicate" parameterType="com.mifan.quiz.domain.Quizs" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO quizs(<include refid="insertEntityColumns"/>) VALUES (<include refid="insertEntityValues"/>) ON DUPLICATE KEY UPDATE <include refid="updateValuesByCriterion"/>
    </insert>

    <!-- insert into on duplicate -->
    <insert id="saveOrUpdate" parameterType="com.mifan.quiz.domain.Quizs" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO quizs(<include refid="insertColumns"/>) VALUES (<include refid="insertValues"/>) ON DUPLICATE KEY UPDATE <include refid="updateValues"/>
    </insert>

    <!-- delete -->
    <delete id="delete" parameterType="long">
        DELETE FROM quizs WHERE id = #{id}
    </delete>

    <!-- update -->
    <update id="update" parameterType="com.mifan.quiz.domain.Quizs">
        UPDATE quizs SET <include refid="updateValues"/> WHERE id = #{id}
    </update>

    <update id="updateByCriterion" parameterType="com.mifan.quiz.domain.Quizs">
        UPDATE quizs SET <include refid="updateValuesByCriterion"/> WHERE id = #{entity.id} AND <include refid="criterion"></include>
    </update>

    <update id="updateByMap" parameterType="map">
        UPDATE quizs
        <trim prefix="SET" suffixOverrides=",">
            <foreach collection="increments" index="index" item="item">
                ${item.key} = ${item.key} + #{item.value},
            </foreach>
            <foreach collection="fields" index="index" item="item">
                ${item.key} = #{item.value},
            </foreach>
        </trim>
        WHERE id = #{id}
    </update>

    <!-- select -->
    <select id="findOne" parameterType="map" resultMap="quizs">
        SELECT
        <include refid="columns"></include>
        FROM quizs WHERE id = #{id}
    </select>

    <select id="findOneByObject" parameterType="map" resultMap="quizs">
        SELECT
        <include refid="columns"></include>
        FROM quizs <include refid="simpleConditions"></include>
    </select>

    <select id="findOneByCriterion" parameterType="map" resultMap="quizs">
        SELECT
        <include refid="columns"></include>
        FROM quizs WHERE <include refid="criterion"></include> LIMIT 1
    </select>

    <select id="findAll" parameterType="map" resultMap="quizs">
        SELECT
        <include refid="columns"></include>
        FROM quizs WHERE ${field} IN
        <foreach collection="ids" open="(" separator="," close=")" index="index" item="item" >
            ${item}
        </foreach>
    </select>

    <select id="findAllByObject" parameterType="map" resultMap="quizs">
        SELECT
        <include refid="columns"></include>
        FROM quizs <include refid="simpleConditions"></include>
    </select>

    <select id="findAllByCriterion" parameterType="map" resultMap="quizs">
        SELECT
        <include refid="columns"></include>
        FROM quizs WHERE <include refid="criterion"></include>
    </select>

    <select id="findPage" parameterType="map" resultMap="quizs">
        SELECT
        <include refid="columns"></include>
        FROM quizs <include refid="simpleConditions"></include> <include refid="sort"></include> <include refid="limit"></include>
    </select>

    <select id="findPageByCriterion" parameterType="map" resultMap="quizs">
        SELECT
        <include refid="columns"></include>
        FROM quizs
        <include refid="relationships"></include>
        WHERE <include refid="criterion"></include> <include refid="sort"></include> <include refid="limit"></include>
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(*) FROM quizs
    </select>

    <select id="countByCondition" parameterType="map" resultType="long">
        SELECT COUNT(*) FROM quizs <include refid="simpleConditions"></include>
    </select>

    <select id="countByCriterion" parameterType="map" resultType="long">
        SELECT COUNT(*) FROM quizs
        <include refid="relationships"></include>
        WHERE <include refid="criterion"></include>
    </select>

    <select id="exists" parameterType="long" resultType="long">
        SELECT COUNT(*) FROM quizs WHERE id = #{id}
    </select>

</mapper>